[Unit]
Description=List updates are available
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/update-list-updated-packages

[Install]
WantedBy=multi-user.target
