[Unit]
Description=Update RKN reestr
After=network.target network-online.target

[Service]
Type=oneshot

ProtectSystem=strict
InaccessiblePaths=/media /mnt /boot /efi /root
ReadWritePaths=/var/lib/fuckoff-rkn

PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectProc=invisible
ProtectKernelModules=true
MemoryDenyWriteExecute=true
RestrictNamespaces=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectClock=true
ProtectHostname=true
PrivateTmp=true
ProtectHome=true

SystemCallArchitectures=native
SystemCallFilter=~@mount

NoNewPrivileges=true

ExecStart=/usr/lib/rkn-blocklist-update
ExecStartPost=/usr/bin/systemctl try-restart fuckoff-rkn.service

[Install]
WantedBy=multi-user.target
