[Unit]
Description=DPI zapret
After=iptables.service ip6tables.service network.target
PartOf=iptables.service ip6tables.service

[Service]
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=80

ExecStartPre=iptables -t mangle -I POSTROUTING -o br0 -p tcp -m multiport --dports 80,443 -m connbytes --connbytes-dir=original --connbytes-mode=packets --connbytes 2:4 -m mark ! --mark 0x40000000/0x40000000 -j NFQUEUE --queue-num 200 --queue-bypass

ExecStart=/usr/bin/zapret-nfqws \
    --user=zapret-nfqws \
    --qnum=200 \
    --dpi-desync=fake,disorder \
    --dpi-desync-fwmark=0x40000000 \
    --dpi-desync-ttl=4 \
    --hostlist=/var/lib/zapret-nfqws/zapret-hosts.txt

Restart=always

ExecStopPost=iptables -t mangle -D POSTROUTING -o br0 -p tcp -m multiport --dports 80,443 -m connbytes --connbytes-dir=original --connbytes-mode=packets --connbytes 2:4 -m mark ! --mark 0x40000000/0x40000000 -j NFQUEUE --queue-num 200 --queue-bypass

[Install]
WantedBy=multi-user.target
